<div class="collection">
	<h4 id="member-{{ member.first-name }}-{{ member.last-name }}">
		<span class="drop-down">&#9660;</span>

		{{ member.first-name }} {{ member.middle-initial }} {{ member.last-name }}

		{% if member.job-title %}
			<small>| {{ member.job-title }}</small>
		{% endif %}

		{% if member.affiliation %}
			<small>| {{ member.affiliation }}</small>
		{% endif %}

	</h4>

		<div class="collection-info" id="member-info-{{ member.first-name }}-{{ member.last-name }}">

		{% if member.email %}
			<p>
				<strong>Email:</strong> <a href="mailto:{{ member.email }}">{{ member.email }} </a>
			</p>
		{% endif %}

		{% if member.website %}
			<p>
				<strong>Website:</strong> <a href="{{ member.website }}"> {{ member.website }}</a>
			</p>
		{% endif %}

		{% if member.interests %}
			<p><strong>Interests:</strong> {{ member.interests %}}</p>
		{% endif %}

		{% if member.publications %}
			<p><strong>Selected publications and projects:</strong></p>
			<ul class="collection-indent">
				{% for pub in member.publications %}
					{% if pub.link %}
						<li><a href="{{ pub.link }}" target="_blank">
							{% if pub.type == 'book' %}
								<em>{{ pub.title }}</em>
								{% else %}{{ pub.title }}
							{% endif %}
						</a>
						({{ pub.date }}),
						{% if pub.type == 'article' %}
							<em>{{ pub.publication }}</em>
							{% else %}{{ pub.publication }}
						{% endif %}
						</li>
					{% else %}
						<li>
							{% if pub.type == 'book' %}
								<em>{{ pub.title }}</em>
								{% else %}{{ pub.title }}
							{% endif %}
							({{ pub.date }}),
							{% if pub.type == 'article' %}
								<em>{{ pub.publication }}</em>
								{% else %}{{ pub.publication }}
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

		</div>

	<script>
		$("#member-{{ member.first-name }}-{{ member.last-name }}").click(function() {
			$("#member-info-{{ member.first-name }}-{{ member.last-name }}").slideToggle()
		})
	</script>

</div>
