<div style='
		margin-top:30px;
		background:rgb(240, 240, 240);
		padding:15px;
		border-radius:10px'>

	<h4>{{ member.first-name }} {{ member.last-name }}
		{% if member.affiliation %}
		<small>{{ member.affiliation }}
			{% if member.title %} - {{ member.title }}{% endif %}
		</small>
		{% endif %}
	</h4>

	{% if member.interests %}
	<p>{{ member.interests %}}</p>
	{% endif %}

	{% if member.publications %}
	<ul>
		{% for pub in member.publications %}
			{% if pub.link %}
				<li><a href="{{ pub.link }}" target="_blank">{{ pub.title }}</a> ({{ pub.date }}), <em>{{ pub.publication }}</em></li>
				{% else %}
					<li>{{ pub.title }} ({{ pub.date }}), <em>{{ pub.publication }}</em></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
</div>
